.fullBox{
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    border: 1px solid blue;
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleText{
    width: auto;
    height: 10%;
}

.underText{
    width: auto;
    height: 10%;
}

.bottom{
    border: 1px solid aqua;
    width:55%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn{
    border: 0px solid;
    background-color: white;
    font-size: large;
    font-weight: bolder;
}