.fullBox{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 회원가입 페이지 슬로건 박스 */
.head{
    width: 65%;
    height: 9%;
    border-left: 1.5px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* 회원가입 페이지 슬로건 박스 - 타이틀 */
.titleText{
    font-size: 4vh;
    font-weight: bold;
    color: rgb(62, 62, 62);
    margin-left: 5%;
}

/* 회원가입 페이지 슬로건 박스 - 문구 */
.underText{
    font-size: 2vh;
    font-weight: bold;
    margin-left: 5%;
}

/* 회원가입 페이지 로그인 부분 박스 */
.bottom{
    cursor: pointer;
    width:65%;
    height: 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* 회원가입 페이지 로그인 부분 박스 - 로그인 버튼 */
.loginBtn{
    margin-top: 5%;
    border: 0px solid;
    font-size: larger;
    font-weight: bolder;
}