.loginBox{
    border: 1px solid blue;
    width:55%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form-input {
    width:88%;
    height: 12%;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 5%;
}

.login-form-btn {
    margin-top: 5%;
    border: 0px solid;
    background-color: white;
    border-radius: 8px;
    font-size: larger;
    font-weight: bolder;

}

.login-form-btn:disabled{
    background-color: white;
    color: black;
    font-size: larger;
    font-weight: lighter;
}