/* 로그인 페이지 로그인 부분 박스 */
.loginBox{
    width:55%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 로그인 페이지 로그인 부분 박스 - 입력창 (이메일, 비밀번호) */
.login-form-input {
    width:88%;
    height: 12%;
    border: none;
    outline:none;
    border-bottom: 1px solid;
    margin-bottom: 5%;
}

/* 로그인 페이지 로그인 부분 박스 - 로그인 버튼 */
.login-form-btn {
    margin-top: 5%;
    border: 0px solid;
    background-color: white;
    border-radius: 8px;
    font-size: larger;
    font-weight: bolder;
}

/* 로그인 페이지 로그인 부분 박스 - 로그인 버튼 (부가 기능) */
.login-form-btn:disabled{
    background-color: white;
    color: black;
    font-size: larger;
    font-weight: lighter;
}